<div class="land">
  <div class="land__section">
    <img src="img/pic/bg/land-1.jpg" alt="">
    <div>
      <p>Живи ярче вместе <br>с безграничным экраном</p>
      <p>Оцени полное погружение в контент на большом 6,4-дюймовом безграничном V-экране смартфона Galaxy A30s. Смотри
        свои любимые видео, играй в игры и веди видеотрансляцию на ярком HD+ Super AMOLED экране.</p>
    </div>
  </div>

  <div class="land__section">
    <img src="img/pic/bg/land-2.jpg" alt="">
    <div>
      <p>Голографический принт <br>и эргономичный дизайн</p>
      <p>Смартфон Galaxy A30s эффектно смотрится и отличается тонким дизайном. Благодаря эргономичной форме телефон
        комфортно ощущается в руке, что существенно облегчает навигацию по экрану. Телефон выделяется эффектным
        голографическим переливающимся рисунком корпуса. Ты можешь выбрать телефон черного, белого или фиолетового
        цвета.</p>
    </div>
  </div>

  <div class="land__section">
    <img src="img/pic/bg/land-3.jpg" alt="">
    <div>
      <p>Тройная основная камера <br>на все случаи жизни</p>
      <p>Тройная камера Galaxy A30s позволит тебе запечатлеть самые интересные моменты твоей жизни. Основная камера 25
        МП обеспечит четкие снимки в любое время суток, а сверхширокоугольная камера 8 МП с углом 123˚ позволит снять
        незабываемые пейзажи. Кроме того, c помощью камеры 5 МП с датчиком глубины ты сможешь сфокусироваться на самом
        важном объекте съемки.</p>
    </div>
  </div>

  <div class="land__section">
    <img src="img/pic/bg/land-4.jpg" alt="">
    <div>
      <p>Расширь привычные <br>рамки фотографии</p>
      <p>Теперь весь мир стал как на ладони вместе с сверхширокоугольной камере. Ты сможешь делать яркие и четкие
        пейзажи в любое время дня и ночи благодаря основной камере 25МП.</p>
    </div>
  </div>

  <div class="land__section">
    <img src="img/pic/bg/land-5.jpg" alt="">
    <div>
      <p>Оставайся всегда на связи</p>
      <p>Аккумулятор емкостью 4000 мА·ч (типичное значение)* обеспечит тебе заряд на целый день. А быстрая зарядка
        Galaxy A30s мощностью 15 Вт позволит не выпадать из динамичного ритма твоей насыщенной жизни.</p>
    </div>
  </div>

  <div class="land__section">
    <img src="img/pic/bg/land-6.jpg" alt="">
  </div>
</div>
