.main-banner {
  position: relative;

  @include screen(xl) {
    padding: 15px 0 0 0;
    background: $gray-light;
  }

  @include screen(l) {
    margin-top: 15px;
  }

  &__container {
    overflow: hidden;

    @include screen(xl) {
      padding-bottom: 30px;
    }

    @include screen(l) {
      box-shadow: 0px 2px 24px $black-opacity-05;
      border-radius: 20px;
    }
  }

  .swiper-slide {
    position: relative;
    overflow: hidden;

    @include screen(xl) {
      padding: 25px 15px 0;
      width: 90% !important;
      height: 490px;
      box-shadow: 0px 2px 24px $black-opacity-05;
      border-radius: 20px;
    }

    @include screen(l) {
      padding-top: 130px;
      height: 515px;
    }

    p {
      position: relative;
      z-index: 1;
      color: $white;

      @include screen(xl) {
        text-align: center;
      }

      &:nth-of-type(1) {
        @include screen(xl) {
          margin-bottom: 15px;
          font: 500 26px/34px FuturaPT;
        }

        @include screen(l) {
          font: 500 42px/54px FuturaPT;
        }
      }

      &:nth-of-type(2) {
        @include screen(xl) {
          font: 500 16px/24px FuturaPT;
        }

        @include screen(l) {
          font: normal 30px/54px FuturaPT;
        }
      }
    }

    img {
      width: 100%;

      @include screen(xl) {
        display: block;
        margin: auto;
      }

      @include screen(l) {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    &.slide-1 {
      @include screen(xl) {
        justify-content: space-between;
        background-color: $black;
      }

      img {
        @include screen(xl) {
          max-width: 400px;
        }
      }

      div {
        @include screen(l) {
          padding-left: 120px;
        }
      }
    }

    &.slide-2 {
      @include screen(xl) {
        justify-content: space-between;
        background: $dark-blue;
      }

      div {
        @include screen(l) {
          padding-left: 100px;
        }
      }
    }

    &.slide-3 {
      @include screen(xl) {
        justify-content: space-between;
        background: $yellow-2;
      }

      img {
        @include screen(xl) {
          max-width: 300px;
        }
      }

      div {
        @include screen(l) {
          padding-left: 100px;
        }
      }

      p {
        color: $main-black-color;
      }

      .btn {
        color: $second-black-color;
        border: 1px solid $second-black-color;
      }
    }

    &.slide-4 {
      @include screen(xl) {
        justify-content: space-between;
        background: $gray-2;
      }

      img {
        @include screen(xl) {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          width: 100%;
          max-width: 350px;
        }
      }

      div {
        @include screen(l) {
          padding-left: 100px;
        }
      }

      p {
        color: $main-black-color;
      }

      .btn {
        color: $second-black-color;
        border: 1px solid $second-black-color;
      }
    }

    &.slide-5 {
      @include screen(xl) {
        justify-content: space-between;
        background: $black;
      }

      img {
        @include screen(xl) {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          width: 100%;
          max-width: 350px;
        }
      }

      div {
        @include screen(l) {
          padding-left: 100px;
        }
      }
    }

    .btn {
      position: relative;
      z-index: 1;
      margin-top: 20px;
      padding: 10px 15px;
      max-width: 150px;
      color: $white;
      font: 600 15px/22px FuturaPT;
      background: transparent;
      border: 1px solid $white;
      border-radius: 8px;
      box-shadow: none;

      @include screen(xl) {
        margin: 20px auto 0;
      }

      &:hover {
        background: $green;
        box-shadow: 0px 3px 10px $green-opacity-35;
        border-color: $green;
        color: $white;
      }
    }
  }

  &__button {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto !important;
    width: 14px;
    height: 24px;
    cursor: pointer;
    transition: opacity .3s;

    &.swiper-button-disabled {
      opacity: .3;
      pointer-events: none;
    }

    &--next {
      right: -10px;
      background: url("../img/pic/ico/arrow.svg") no-repeat;
    }

    &--prev {
      left: -10px;
      transform: rotate(180deg);
      background: url("../img/pic/ico/arrow.svg") no-repeat;
    }
  }
}
